<div class="container-fluid">
  <div class="row flex-nowrap">
      <app-bootstrap-sidemenu [config]="menuConfig" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"></app-bootstrap-sidemenu>      

      <div class="col py-3">
        <app-grilla-equipos *ngIf="menuConfig.optionSelected == 1"></app-grilla-equipos>
        <app-detalle-equipo *ngIf="menuConfig.optionSelected == 2"></app-detalle-equipo>
        <app-mapa-equipos   *ngIf="menuConfig.optionSelected == 3"></app-mapa-equipos>
      </div>

  </div>
</div>