.logo img{
    height: 100%;
    width: auto;
}

.logo {
    margin-top: 19vh;
    position: relative;
    height: 50px;
}

.content {
    background-color: linear-gradient(#485563, #29323c)
}

.back-p2{
    background:rgb(48, 255, 135);
}
    